*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    
    .section-1{
        width: 100%;
        height: 100vh;
        background: url(/Rasmlar/Section1-background.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 145px;

        header{
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}