*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100%;
    
    .section-1{
        width: 100%;
        height: 100vh;
        background: url(/Rasmlar/Section1-background.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 145px;

        header{
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            nav{
                display: flex;
                gap: 46px;

                b{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 29px;
                    font-style: normal;
                    color: #FF4B32;
                }

                a{
                    text-decoration: none;
                    color: #FFFFFF;
                }
            }

            .right-header{
                display: flex;
                align-items: center;
                gap: 38px;
            }
        }

        main{
            width: 100%;
            height: calc(100vh - 50px);

            .h1{
                width: 524px;
                height: 210px;

                h1{
                    font-family: 'Josefin Sans', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 58px;
                    line-height: 70px;
                    color: #FFFFFF;
                }
            }
        }
    }
}